body {
  margin: 0;
  background: #a7adba !important;
}

#scene {
  width: 90%;
  height: 90%
}

.satImages {
  margin: auto; max-width: 651;
}

.checkbox-grid li {
    display: block;
    float: left;
    width: 15%;
}

/* SVG styling */

svg {
  font-family: helvetica, sans-serif;
}

path, line {
  stroke: #777;
}
