body, html, .container-fluid {
    height: 100%;
    padding-right: 0;
    padding-left: 0;
    background-color: #000000;
    /* background-color: #25274D; */
}

.row {
  margin: auto;
}

/* Nav Bar from tutorial: https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_vertical_borders*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #000;
    /* border: 1px solid #555; */
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #898989;
    text-decoration: none;
}

li {
    text-align: center;
    /* border-bottom: 1px solid #555; */
}

li:last-child {
    border-bottom: none;
}

li a.active {
    background-color: #898989;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}


.navigation {
  margin-top: 1em;
}

.vm-logo {
  margin-top: 2%;
  text-align: center;
}

.header-vm {
  background-color: #141414;
  padding-bottom: 0.5em;
}

.m_title {
  margin-right: 0.1em;
  font-family: sans-serif;
  font-size: 150%;
  color: #c1b492;
}

.m_title_alternate {
  margin-right: 0.1em;
  font-family: sans-serif;
  font-size: 150%;
  color: #b2864a;
}

.des-text {
  font-family: sans-serif;
  font-size: 125%;
  color: #b7b7b7;
}

.name_large {
  margin-top: 2.5%;
  font-size: 275%;
  font-weight: bold;
  color: #DC143C;
}

.name_large_light_yellow {
  font-family: sans-serif;
  font-size: 275%;
  font-weight: bold;
  color: #C1B492;
}

.description_dark_grey {
  font-family: sans-serif;
  font-size: 150%;
  /* font-weight: bold; */
  color: #898989;
}

.description-darker-grey {
  font-family: sans-serif;
  font-size: 150%;
  color: #808080;
}

.description-darkerer-grey {
  font-family: sans-serif;
  font-size: 110%;
  color: #606060;
}

.text_descr {
  /*text-align: center;*/
  margin-right: 0.5em;
  margin-bottom: 1.5em;
  font-weight: bold;
  color: #000000;
  /* color: #f0f0f0; */
}

.title {
  margin-bottom: 0.1em;
  font-size: 150%;
  font-weight: bold;
  color: #000000;
  /* color: #ffffff; */
}

.some-space {
  margin-top: 250px;
}

.long-space {
  margin-top: 1080px;
}

.top-header {
  /* background-color: #141414; */
  margin-left: 0%;
  margin-right: 0%;
  padding-bottom: 1%
}

.title-img {
  margin-top: 5em;
}

.proj-tile {
  margin: 5em;
  width: 100%;
  height: auto;
}

.title-img-ef {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}

.title-sub-img {
  margin-top: 2.5em;
}

.title-sub-img-ef {
  width: 100%;
  height: 16vw;
  object-fit: cover;
  margin-bottom: 2.5em;
}

.tile-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: 1em;
}

.proj-img{
  width: 100%;
  height: 12vw;
  object-fit: cover;
  margin-top: 1em;
}

#main_img {
  margin-top: 5%;
  width: 100%;
  height: auto;
}

/* found here: https://w3bits.com/css-image-hover-zoom/ */
#project-img {
  transition: transform .5s, filter 1s ease-in-out;
  filter: grayscale(100%);
}

#project-img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

#project-img-alt {
  transition: transform .5s, filter 1s ease-in-out;
  filter: grayscale(100%);
}

#project-img-alt:hover {
  filter: grayscale(0);
  transform: scale(1.01);
}

#moving_text {
  text-align: center;
  color: #0eda9d;
}

#c_icon {
  margin-top: 0.2em;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/*Gradient of Colors for border*/
.g_box{
	  border: 1px solid transparent;

	  -moz-border-image: -moz-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%);
	  -webkit-border-image: -webkit-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%);
	  border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%);

	  border-image-slice: 1;
	}
